<div class="page-layout carded fullwidth" fusePerfectScrollbar>

        <div class="top-bg mat-accent-bg h-30"></div>

        <div class="center">


                <div class="header white-fg" id="main-title">
                        <mat-icon style="cursor: pointer" (click)="goBack()" class="logo-icon s-32">arrow_back</mat-icon>

                </div>

                <mat-card *ngIf="currentLog" class="log-content">
                        <mat-list>
                                <mat-list-item>
                                        <strong class="title" style="display: inline-block">Date : </strong> 
                                        <span class="data"> {{currentLog.createdOn | date: 'dd/MM/yyyy' }}</span>
                                </mat-list-item>

                                <mat-list-item>
                                        <strong class="title">Affected Field</strong>
                                        <span class="data">{{currentLog.field }}</span>
                                </mat-list-item>

                                <mat-list-item>
                                        <strong class="title">Changed Data</strong>
                                        <span class="data"> {{currentLog.data }}</span>
                                </mat-list-item>
                                <mat-list-item>
                                        <strong class="title">By</strong> 
                                        <span class="data"> {{currentLog.user.name }}</span> 
                                </mat-list-item>
                                <mat-list-item>
                                        <strong class="title">Project</strong> 
                                        <span class="data">
                                                        <a  (click)="goTo('apps/projects/'+currentLog.affectedProject._id)">
                                                                {{currentLog.affectedProject.name }}</a>
                                        </span> 
                                        
                                </mat-list-item>
                                <mat-list-item>
                                        <strong class="title">Issue</strong> 
                                        <span class="data">
                                        <a (click)="goTo('apps/todo/all/'+currentLog.affectedIssue._id)"> {{currentLog.affectedIssue.title }}</a>                                                        
                                        </span>
                                </mat-list-item>

                                <mat-list-item>
                                        <strong class="title">Action</strong> 
                                        <span class="data">{{currentLog.action }}</span>
                                </mat-list-item>
                        </mat-list>
                        <button mat-raised-button color="warn" (click)=revertLog()>
                                Revert
                        </button>


                </mat-card>
        </div>

</div>