<div class="page-layout carded fullwidth" fusePerfectScrollbar>
    <div class="top-bg mat-accent-bg h-30"></div>
    
    <div class="center">

            <div class="header white-fg "id="main-title">
                    <span class="title" > Issue Types </span>
                    
            </div>
        <mat-card fxFlex>

            <mat-card-header>
            </mat-card-header>


            <mat-card-content>

                <mat-list>
                    <mat-list-item *ngFor="let issue of issueTypes" fxFill >
                            <input matInput [value]="issue.name" [readonly]="true" #data >
                            
                           <button mat-icon-button matTooltip="Delete"   (click)="deleteIssueType(data.value)" >
                                <mat-icon class="secondary-text" >delete</mat-icon>
                            </button>
                        
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>