<mat-icon style="cursor: pointer;float: right;color: darkred "  (click)="closeDialog()" class="logo-icon s-28">close</mat-icon> 

<h2 mat-dialog-title>Create Issue</h2>



<div *ngIf="projectFieldEmpty" class="alert alert-danger fade in">
      <a  (click)="toggleEmpty()" class="close" data-dismiss="alert" aria-label="close">×</a>
      Choose a Project First
</div>

<div class="alert alert-success fade in" *ngIf="success">
      <a (click)="toggleSuccess()"  class="close" data-dismiss="alert" aria-label="close">×</a>
      Issue Created!
</div>

<mat-form-field fxFill *ngIf="projectList">
      <!-- <mat-select id="choose-project" [(value)]="selectedProject" placeholder="Choose Project" >
                <mat-option *ngFor="let project of projectList" [value]="project.pid"  >
                      {{project.name}}
                </mat-option>
            </mat-select> -->
      <input type="text" placeholder="Project" matInput [formControl]="projectControl" 
      [matAutocomplete]="auto" (keyup.enter)="getProjectIssueTypes()" required>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
            <mat-option *ngFor="let project of filteredProjects | async" [value]="project"
                        (click)="getProjectIssueTypes()" (keyup.enter)="getProjectIssueTypes()"  >
                  {{ project.name }}
            </mat-option>
      </mat-autocomplete>
</mat-form-field>


<mat-form-field fxFill *ngIf="issueTypes">
      <input type="text"     placeholder="Issue Type" matInput [formControl]="issueTypeControl" required
       [matAutocomplete]="auto" (keyup.enter)="getProjectSelectedType()">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnType" >
            <mat-option *ngFor="let type of filteredIssueTypes | async" [value]="type" 
            (click)="getProjectSelectedType()"  >
                  {{ type }}
            </mat-option>
      </mat-autocomplete>
</mat-form-field>

<mat-dialog-content>


      <form [formGroup]="issueForm" fxFlex floatLabel="never" [class.mat-elevation-z6] *ngIf="selectedTypeFields">
            <label class="">
                  <h2>New Issue </h2>
            </label>
            <div *ngFor="let field of selectedTypeFields">

                  <mat-form-field fxFill *ngIf="field.name !== 'ProjectId' && userList && field.name !== 'IssueType' " >
                        <input matInput formControlName="{{field.id}}" placeholder="{{field.name }}" [readonly]="field.id === 'issueType' || field.id==='projectId'"
                              *ngIf="field.name !=='Assignee' && field.name!= 'CreatedBy'"
                               [required]="field.isRequired"           >
                   
                        <div *ngIf="field.name==='Assignee'"  >
                                    

                              <input type="text" placeholder="Assignee" matInput [formControl]="userControlAssignee" 
                              [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let user of filteredUsersAssignee | async" [value]="user">
                                          {{ user.name }}
                                    </mat-option>
                              </mat-autocomplete>
                              <div class="alert alert-danger fade in" *ngIf="!validName">
                                          <a  (click)="toggleEmpty()" class="close" data-dismiss="alert" aria-label="close">×</a>
                                          Choose A Valid Name
                              </div>
                        </div>

                        
                        

                
                        <div *ngIf="field.name==='CreatedBy'">
                              <input matInput [disabled]=true 
                              [value]="currentUser.name" placeholder="Created By" [readonly]=true >
                        </div>
                  </mat-form-field>

            </div>
            <button mat-raised-button class="mat-accent" [disabled]="!issueForm.valid" (click)="sendForm()">Create</button>


      </form>
      <!-- <mat-dialog-actions>
      </mat-dialog-actions> -->
</mat-dialog-content>