<h2 mat-dialog-title>Create New Issue</h2>
<mat-form-field fxFill>
       
            <mat-select id="choose-project" [(value)]="selectedProject" placeholder="Choose Project" >
                <mat-option *ngFor="let project of projectList" [value]="project.pid"  >
                      {{project.name}}
                </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field fxFill>
              <mat-select fxFill placeholder="Choose Issue Type" [(ngModel)]="selectedIssueType" [ngModelOptions]="{standalone: true}" 
                 >
                  <mat-option *ngFor="let issueType of issueTypes"  [value]="issueType" (click)="getSelectedType()"
                  >
                          {{issueType.name}}
                  </mat-option>
            </mat-select>
        
        </mat-form-field>
<mat-dialog-content>
   

      <form [formGroup]="issueForm" fxFlex floatLabel="never" [class.mat-elevation-z6] *ngIf="issueForm">
          <label class="" > <h2>New Issue </h2></label>
          <div *ngFor="let field of selectedTypeFields" >

                <mat-form-field fxFill *ngIf="field.name !== 'ProjectId'">
                      <input matInput  formControlName="{{field.id}}" 
                       placeholder="{{field.name }}" 
                        [readonly]="field.id === 'issueType' || field.id==='projectId'" 
                        *ngIf="field.name !=='Assignee' && field.name!= 'CreatedBy'" 
                       >
                       <mat-select *ngIf="field.name==='Assignee'" placeholder="Assignee" formControlName="{{field.id}}" >
                              <mat-option *ngFor="let user of userList" [value]="user._id" >
                                          {{user.name}}
                              </mat-option>
                       </mat-select>     

                       <mat-select *ngIf="field.name==='CreatedBy'" placeholder="Created By" formControlName="{{field.id}}" >
                              <mat-option *ngFor="let user of userList" [value]="user._id" >
                                          {{user.name}}
                              </mat-option>
                       </mat-select>  
                </mat-form-field>

          </div>

      </form>
      <mat-dialog-actions>
          <button mat-raised-button class="mat-accent" (click)="sendForm()">Send Form</button>            
      </mat-dialog-actions>
</mat-dialog-content>