
<div *ngIf="!todo" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-todo-icon hint-text" *fuseIfOnDom
              [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
    </mat-icon>
    <span class="hint-text mat-h1 select-todo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'400ms'}}">
        Select a todo
    </span>
</div>

<div *ngIf="todo">

    <div class="todo-header" fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-button class="toggle-complete-button" (click)="toggleCompleted($event)"
                aria-label="Toggle completed" fxFlex="0 1 auto">
            <!-- <mat-icon *ngIf="todo.completed">check_box</mat-icon>
            <mat-icon *ngIf="!todo.completed">check_box_outline_blank</mat-icon>
            <span class="ml-8">Mark as Done</span> -->
        </button>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <!-- <button mat-icon-button (click)="toggleImportant($event)" aria-label="Toggle important">
                <mat-icon class="red-fg" *ngIf="todo.important">error</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.important">error_outline</mat-icon>
            </button> -->

            <!-- <button mat-icon-button (click)="toggleStar($event)" aria-label="Toggle star">
                <mat-icon class="amber-fg" *ngIf="todo.starred">star</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.starred">star_outline</mat-icon>
            </button> -->

            <button mat-icon-button [matMenuTriggerFor]="labelMenu" fxFlex="0 1 auto">
                <mat-icon class="secondary-text">label</mat-icon>
            </button>

            <mat-menu #labelMenu="matMenu">
                <!-- <button mat-menu-item *ngFor="let tag of tags"
                        (click)="toggleTagOnTodo(tag.id)">
                    <mat-icon *ngIf="hasTag(tag.id)">check</mat-icon>
                    <mat-icon *ngIf="!hasTag(tag.id)"></mat-icon>
                    <span>{{tag.title}}</span>
                </button> -->
            </mat-menu>

            <button mat-icon-button (click)="deleteTodo()" aria-label="Toggle delete">
                <mat-icon class="secondary-text" >delete</mat-icon>
            </button>

        </div>
    </div>

    <div class="todo-content">
        

        <form [formGroup]="todoForm" (submit)="addTodo()">

                <div>
                        <div *ngFor="let field of controlArray">
                            <!-- <mat-form-field fxFill *ngIf="field[0]!=='_id'" >
                                    <input matInput value="{{field[1]}}" 
                                    formControlName="{{field[0]}}" 
                                    placeholder="{{field[0] }}"
                                    
                                    [readonly]="field[0] === 'key' || field[0] === 'assignee' || field[0] === 'createdBy'
                                            || field[0] === 'projectId' || field[0] === 'issueType' ||  field[0] === 'createdOn'
                                                "
                                     >
                            </mat-form-field>   -->
                            <mat-form-field fxFill *ngIf="field[0]!=='_id'" >
                                <input matInput value="{{field[1]}}" 
                                formControlName="{{field[0]}}" 
                                placeholder="{{field[0] }}"
                                
                                [readonly]="field[0] === 'key' || field[0] === 'assignee' || field[0] === 'createdBy'
                                        || field[0] === 'projectId' || field[0] === 'issueType' ||  field[0] === 'createdOn'
                                            "
                                 >
                        </mat-form-field>
                        </div>
                </div> 
        </form>
    
        <button 
        mat-raised-button class="mat-accent"
        (click)="saveChanges()">SAVE
        </button>
    </div>
</div>
