@import 'src/@fuse/scss/fuse';

:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow-y: auto;

    .todo-header {
        padding: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(0, 0, 0, 0.06);

        .actions {
            min-width: 88px;
        }
    }

    .todo-content {
        padding: 24px;

        .title {
            font-size: 17px;
            font-weight: 500;
        }

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        .dates {

            .mat-form-field {
                width: auto !important;
            }
        }
    }
}
#field-seperator{
        padding: 20px;
}
.fixed-field{
        width: 50%
}
.list-title{
    width: 30%;
}
.list-data{
width: 70%;
}

.fade.in {
    opacity: 1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger{
   background-color:  #FBD7DA;

   color: #AF4443;
   border-color: #F9C6CB;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
a {
    color: #337ab7;
    cursor: pointer;
}
a {
    background-color: transparent;
}
