<div *ngIf="!todo" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-todo-icon hint-text">check_box
    </mat-icon>
    <span class="hint-text mat-h1 select-todo-text">
        Select a todo
    </span>
</div>

<div *ngIf="todo">
       
    <div class="todo-header" fxLayout="row" fxLayoutAlign="space-between center">
            <button (click)="goBack()">
                    <mat-icon style="cursor: pointer;float: left;"  class="logo-icon s-32">arrow_back</mat-icon>
            </button>
        <button mat-button class="toggle-complete-button" (click)="toggleCompleted($event)" aria-label="Toggle completed" fxFlex="0 1 auto">
            <!-- <mat-icon *ngIf="todo.completed">check_box</mat-icon>
            <mat-icon *ngIf="!todo.completed">check_box_outline_blank</mat-icon>
            <span class="ml-8">Mark as Done</span> -->
        </button>
        
        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <mat-menu #labelMenu="matMenu">
                <!-- <button mat-menu-item *ngFor="let tag of tags"
                        (click)="toggleTagOnTodo(tag.id)">
                    <mat-icon *ngIf="hasTag(tag.id)">check</mat-icon>
                    <mat-icon *ngIf="!hasTag(tag.id)"></mat-icon>
                    <span>{{tag.title}}</span>
                </button> -->
            </mat-menu>
           
            
            
            
            <button  mat-icon-button (click)="deleteTodo()" aria-label="Toggle delete">
                <mat-icon class="secondary-text">delete</mat-icon>
            </button>


        </div>
    </div>

    <div class="todo-content">



        <mat-tab-group [selectedIndex]="0">

            <mat-tab label="Editable">
                <form [formGroup]="todoForm">
                    <div *ngFor="let field of controlArray" style="margin-top: 20px">
                        <mat-form-field fxFill *ngIf="field[0]!=='_id'  && field[0] !== 'key' && 
                                                                field[0] !== 'assignee' && field[0] !== 'createdBy'
                                        && field[0] !== 'projectId' && field[0] !== 'issueType' &&  
                                        field[0] !== 'createdOn' && field[0] !== 'updatedBy' && 
                                        field[0] !== 'updatedOn' && field[0] !== 'comments'  ">

                            <!-- <mat-list-item  *ngIf=" field[0] === 'assignee' "  >
                                            <strong class="list-title">{{field[0] | uppercase }}</strong> 
                                            <span class="list-data">{{field[1].name}}</span>
                                     </mat-list-item> -->

                            <input matInput value="{{field[1]}}" formControlName="{{field[0]}}" placeholder="{{field[0] }}">
                        </mat-form-field>

                        <mat-form-field *ngIf=" field[0] === 'assignee' " fxFill>
                            <input matInput [readonly]=true [value]="field[1].name" [placeholder]="field[0]">
                        </mat-form-field>
                        <mat-form-field fxFill *ngIf="field[0] === 'assignee' && userList">
                            <input placeholder="New Assignee" matInput [formControl]="userControlAssignee" [matAutocomplete]="auto">

                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let user of filteredUsersAssignee | async" [value]="user" (keyup.enter)="changeAssignee(user)" (click)="changeAssignee(user)">
                                    {{ user.name }}
                                </mat-option>
                            </mat-autocomplete>

                            <div class="alert alert-danger fade in" *ngIf="!nameValid">
                                <a (click)="toggleEmpty()" class="close" data-dismiss="alert" aria-label="close">×</a>
                                Choose a valid name
                            </div>
                        </mat-form-field>




                    </div>

                    <button mat-raised-button class="mat-accent" (click)="saveChanges()">SAVE
                    </button>
                </form>
            </mat-tab>
            <mat-tab label="Fixed">

                <mat-list>
                    <span *ngFor="let field of controlArray">
                        <mat-list-item *ngIf="field[0]!=='_id' && !( 
                                     field[0] !== 'key' && field[0] !== 'createdBy'
                                    && field[0] !== 'projectId' && field[0] !== 'issueType' 
                                    &&  field[0] !== 'createdOn' && field[0] !== 'updatedBy'
                                     && field[0] !=='updatedOn'  )">
                            <strong class="list-title">{{field[0] | uppercase }}</strong>
                            <span class="list-data">{{field[1]}}</span>
                        </mat-list-item>


                    </span>

                </mat-list>
            </mat-tab>

            <mat-tab label="Comments">


                <div class="comment-box">
                    <mat-form-field fxFill>
                        <input fxFlex matInput placeholder="Write a Comment" [(ngModel)]="newCommentText" (keyup.enter)="writeComment()">
                        <span class="comment-send" (click)="writeComment()">
                            <mat-icon style="float: right">send</mat-icon>
                        </span>
                    </mat-form-field>
                </div>

                <div *ngIf="!comments" class="comments-empty text-center">
                    There are no Comments
                </div>

                <div id="comments" *ngIf="comments" fxFill>

                    <div class="comment" *ngFor="let comment of comments.reverse()">

                        <div class="comment-text">
                            <p class="name">{{comment.userId.name}}
                                <span class="time">
                                    {{comment.createdOn | date}}
                                </span>
                            </p>
                            
                            <button mat-icon-button *ngIf="currentUser._id === comment.userId._id "  
                                        style="float: right;"
                                      (click)="deleteComment(comment)" >
                                    <mat-icon class="secondary-text" >delete</mat-icon>
                            </button>
                            
                            <p>{{comment.content}}</p>
                        </div>
                    </div>

                </div>



            </mat-tab>

        </mat-tab-group>




    </div>
</div>