<div  class="page-layout carded fullwidth" fusePerfectScrollbar>
		<div class="top-bg mat-teal-bg h-30"></div> 
		<div class="center">  

			<div class="header white-fg text-center" id="main-title">
					<span class="title" > ALL ISSUES </span>
			</div>
		
			<div class="content-card mat-white-bg">
					
					<smd-datatable dataUrl="find-issues" dataHeader="jobs" [paginated]="true" fusePerfectScrollbar
						showCheckBox="true" [responsive]="true" [filterEnabled]="true" [showTableFilter]="false">
							
							<smd-datatable-column title="Key" field="key" sortable="true" [filterable]="true" > 
								<ng-template let-model="data"   >
									<a routerLink='/apps/todo/all/{{ model._id }}' >{{model.key}}</a>	
								</ng-template>
							</smd-datatable-column>
							
							<smd-datatable-column title="Name" field="name" sortable="true" [filterable]="true">
								<ng-template let-model="data">
									{{model.name}}
								</ng-template>
							</smd-datatable-column>

							<smd-datatable-column title="Type" field="issueType" sortable="true" [filterable]="true">
								<ng-template let-model="data">
									{{model.issueType}}
								</ng-template>
							</smd-datatable-column>

				

					</smd-datatable>
				</div>
		</div>
</div>
