

.title {
        font-size: 32px;
        font-weight: 500;
        font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    }
    #main-title{
        padding-top: 35px;
    }
    
    #go-back-title{
        font-size: 23p;
        font-weight: 400;
    }

