<div class="page-layout carded fullwidth" fusePerfectScrollbar>
    <div class="top-bg mat-accent-bg h-30"></div>
    <div class="center">

        <div class="header white-fg " id="main-title">
            <span class="title"> Logs </span>
            <mat-icon style="cursor: pointer;float: right " (click)="refresh()" class="logo-icon s-32">refresh</mat-icon>

            <div class="content-card mat-white-bg" style="margin-bottom: 25px">

                <smd-datatable dataUrl="logs"  dataHeader="jobs" [paginated]="true" fusePerfectScrollbar showCheckBox="true" [responsive]="true"
                    [filterEnabled]="true" [showTableFilter]="false">


                    <smd-datatable-column title="Date" field="date" sortable="false" [filterable]="true">
                            <ng-template let-model="data">
                                <span *ngIf="model.createdOn !== null">
                                    {{ model.createdOn  | date: 'dd/MM/yyyy' }}
                                </span>
                            </ng-template>
                    </smd-datatable-column>

                    <smd-datatable-column title="Action" field="action" sortable="false" [filterable]="true">
                        <ng-template let-model="data">
                            <a  *ngIf="model.action !==null"  routerLink='/apps/log/{{ model._id }}'>{{model.action}}</a>
                        </ng-template>
                    </smd-datatable-column>

                    <smd-datatable-column title="Modified Field" field="modifiedField" sortable="false" [filterable]="true">
                        <ng-template   let-model="data">
                            {{model.data}}
                        </ng-template>
                    </smd-datatable-column>

                    <smd-datatable-column title="Affected Project" field="affectedProject" sortable="false" [filterable]="true">
                        <ng-template  let-model="data">
                            <span *ngIf="model.affectedProject">
                                    {{model.affectedProject.name}}
                            </span>
                            
                        </ng-template>
                    </smd-datatable-column>

                   

                    <smd-datatable-column title="By" field="by" sortable="false" [filterable]="true">
                            <ng-template let-model="data">
                                <span *ngIf="model.user !== null">
                                    {{model.user.name}}
                                </span>
                            </ng-template>
                        </smd-datatable-column>

                    <smd-datatable-column title="Affected Issue" field="affectedIssue" sortable="false" [filterable]="true">
                        <ng-template let-model="data">
                            <span *ngIf="model.affectedIssue !== null">
                                {{model.affectedIssue.title}}

                            </span>
                            <span *ngIf="model.affectedIssue === null">
                                Issue Deleted
                            </span>
                        </ng-template>
                    </smd-datatable-column>

                </smd-datatable>
            </div>
        </div>
    </div>
</div>