<mat-icon style="cursor: pointer;float: right;color: darkred "  (click)="closeDialog()" class="logo-icon s-28">close</mat-icon> 

<h2 mat-dialog-title>Add Issue Type</h2>
<h2 style="color:#2ECC71" *ngIf="success" class="text-center"> Issue Type Added!</h2>
<mat-dialog-content>
        <mat-selection-list *ngIf="issueTypeList" fxFill placeholder="Add Issue Type" 
        [(ngModel)]="selectedIssueType" [ngModelOptions]="{standalone: true}">

            <mat-list-option *ngFor="let issueType of issueTypeList"  [value]="issueType" (click)="addType(issueType)" >
                    {{issueType.name}}
            </mat-list-option>
      
          </mat-selection-list>
        <h2 *ngIf="!issueTypeList.length">No additional types available</h2>         
          
 </mat-dialog-content> 
 <mat-dialog-actions>
    <button *ngIf="issueTypeList.length" mat-raised-button class="mat-accent" (click)="addIssueTypes()">Create</button>            
</mat-dialog-actions>