
<div class="page-layout carded fullwidth" fusePerfectScrollbar>

      <mat-card>
                  <mat-grid-list cols="2">
                   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                              <mat-card>
                                          <mat-tab-group [selectedIndex]="0" fusePerfectScrollbar>
                                                <mat-tab label="Select Field">
                                                      <mat-card>
                                                            <mat-selection-list role="list" fxFlex>
                                                                  <mat-list-option role="listitem" *ngFor="let field of availableFields" (click)="selectField(field)" [class.mat-elevation-z7]>
                                                                        {{field.name}}
                                                                  </mat-list-option>
                                                            </mat-selection-list>
                                                      </mat-card>
                                                </mat-tab>
                                                <mat-tab label="Add New Field" >
                                                      <mat-card fxFill>
                                                            <div>
                                                                  <mat-form-field fxFlex>
                                                                        <textarea [(ngModel)]="newFieldName" [ngModelOptions]="{standalone: true}" matInput placeholder="Field Name">
                                                                                                                        
                                                                                                                                          </textarea>
                                    
                                                                  </mat-form-field>
                                                            </div>
                                                            <div>                                                            
                                                                  <mat-form-field fxFlex>
                                                                        <textarea [(ngModel)]="newFieldId" [ngModelOptions]="{standalone: true}" matInput placeholder="Field Id">
                                                                                                                        
                                                                                                                        </textarea>
                                    
                                                                  </mat-form-field>
                                                            </div>
                                                            <div>
                                                                  <mat-form-field fxFlex>
                                                                        <textarea [(ngModel)]="newFieldType" [ngModelOptions]="{standalone: true}" matInput placeholder="Field Type">
                                                                                                                              
                                                                        </textarea>
                                                                        <!-- <mat-select placeholder="Field Type" [(ngModel)]="newFieldType" [ngModelOptions]="{standalone: true}" >
                                                                                    <mat-option [value]="string">
                                                                                          String
                                                                                    </mat-option>
                                                                                    <mat-option [value]="number">
                                                                                          Number
                                                                                    </mat-option>
                                                                                    
                                                                        </mat-select> -->
                                    
                                                                  </mat-form-field>
                                                            </div>
                                                            <div>
                                                                  <mat-form-field fxFlex>
                                                                        <!-- <textarea [(ngModel)]="newFieldIsRequired" [ngModelOptions]="{standalone: true}" matInput placeholder="Is Required">
                                                                                                                                    
                                                                        </textarea> -->
                                                                        <mat-select placeholder="True" [(ngModel)]="newFieldIsRequired" [ngModelOptions]="{standalone: true}" >
                                                                                    <mat-option [value]="true">
                                                                                          True
                                                                                    </mat-option>
                                                                                    <mat-option [value]="false">
                                                                                                False
                                                                                    </mat-option>
                                                                        </mat-select>
                                    
                                                                  </mat-form-field>
                                                            </div>
                              
                                                            <button mat-button mat-raised-button class="mat-indigo-bg" (click)="addNewField()">
                                                                  Add Form Field
                                                            </button>
                                                      </mat-card>
                                                </mat-tab>
                              
                                          </mat-tab-group>
                                    </mat-card>
                  </mat-grid-tile>

                  <mat-grid-tile [style.border-right]="'1px dashed #ddd'" >
                              <mat-card  >
                                          <form [formGroup]="fieldListForm" fxFlex floatLabel="never" [class.mat-elevation-z6]>
                                                <label class="text-center" > <h2>New Issue Type </h2></label>
                                                <div *ngFor="let field of fieldsArray">
                              
                                                      <mat-form-field fxFill>
                                                            <input matInput value="{{field[1]}}" formControlName="{{field[0]}}"
                                                             placeholder="{{field[0] }}"  [readonly]="field[0] !== 'name'"  >
                                                      </mat-form-field>
                              
                                                </div>
                                                <button mat-raised-button class="mat-accent" (click)="sendForm(fieldListForm.value)">Send Form</button>
                              
                                          </form>
                                    </mat-card>

                  </mat-grid-tile>
                  
                  </mat-grid-list>
      </mat-card>


</div>