<div class="page-layout simple fullwidth" fusePerfectScrollbar>      
      <h1 class="text-center">Add New Issue Type</h1>
      
       
           <mat-list role="list">
                  <mat-list-item role="listitem" *ngFor="let field of availableFields" (click)="addField(field)" >
                              {{field.name}}
                  </mat-list-item>
           </mat-list>
            
        
            
          <form [formGroup]="fieldListForm"  >
                <div *ngFor="let field of fieldsArray" >
                      
                         <mat-form-field fxFill  >
                              <input matInput value="{{field[1]}}" 
                                          formControlName="{{field[0]}}" 
                                          placeholder="{{field[0] }}"
                              
                               >
                      </mat-form-field>   
                      
                </div>

          </form>
          <h3>{{fieldListForm.value | json     }}</h3>
        <button (click)="sendForm(fieldListForm.value)" >Send Form</button>
</div>