<div  class="page-layout carded fullwidth" fusePerfectScrollbar>
    <div class="top-bg mat-accent-bg h-30"></div> 
    <div class="center">  
    
        <div class="header white-fg " id="main-title">
            <span class="title" > ALL PROJECTS </span>
            <mat-icon style="cursor: pointer;float: right "  (click)="refresh()" class="logo-icon s-32">refresh</mat-icon> 
        </div>
          
          <div class="content-card mat-white-bg"  style="margin-bottom: 25px">
              <smd-datatable  dataUrl="projects" dataHeader="projects" [paginated]="true"
                showCheckBox="true" [responsive]="true" [filterEnabled]="true" [showTableFilter]="false"
                fusePerfectScrollbar>
                
                  <smd-datatable-column title="Key" field="projectKey" sortable="true" [filterable]="true" > 
                    <ng-template let-model="data"   >
                      <a routerLink='/apps/projects/{{ model._id }}' >{{model.projectKey}}</a>	
                    </ng-template>
                  </smd-datatable-column>

                  <smd-datatable-column title="Name" field="name" sortable="true" [filterable]="true" > 
                      <ng-template let-model="data"   >
                            {{model.name}}
                      </ng-template>
                    </smd-datatable-column>

                    <smd-datatable-column title="Manager" field="projectManager" sortable="true" [filterable]="true" > 
                        <ng-template let-model="data"   >
                              {{model.projectManager.name}}
                        </ng-template>
                      </smd-datatable-column>

                      <smd-datatable-column title="Type" field="type" sortable="true" [filterable]="true" > 
                          <ng-template let-model="data"   >
                                {{model.type}}
                          </ng-template>
                        </smd-datatable-column>

                        <!-- <smd-datatable-column title="Description" field="description" sortable="true" [filterable]="true" > 
                            <ng-template let-model="data"   >
                                  {{model.description}}
                            </ng-template>
                          </smd-datatable-column> -->

                          <smd-datatable-column title="People" field="people"  > 
                              <ng-template let-model="data"   >
                                    <span *ngFor='let person of model.people' >{{person.user.name}}  </span>
                              </ng-template>
                            </smd-datatable-column>
                  
                

              </smd-datatable>
        </div>
  </div>
</div>
